# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node (if you ever use npm for tooling)
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (in case you use API keys etc)
.env
.env.local

# Parcel, Vite, etc.
.cache/

# Others
*.zip
*.bak
*.tmp